body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #ffffe6;
}

.header {
  text-align: center;
}

#about {
  margin-top: 100px;
  padding-top: 50px;
}

#about h1 {
  font-size: 40px;

}

#about p {
  font-size: 25px;
  margin-top: 30px;
}

#portfolio {
  margin-top: 500px;
  padding-top: 50px;
}

#portfolio h1 {
  font-size: 40px;
}



#contact {
  margin-top: 500px;
  padding-top: 50px;
}

#contact h1 {
  font-size: 40px;
}

#contact p {
  margin-top: 30px;
  text-align: center;
  font-size: 25px;
}

.navbar-default {
  margin-bottom: 50px;
}